@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	background-color: rgb(32, 30, 32);
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.4s;
	cursor: pointer;
}

ul li,
ol li {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	color: white;
	transition: 0.5s;
	outline: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}
